---
layout: single
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

<div class="archive__container">
  {% if content %}
    <div class="archive__content">
      {{ content }}
    </div>
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% include documents-collection.html locale=locale collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
  </div>
</div>
